.card-car {
	display: flex;
	flex-direction: row;
	padding: 10px;
	margin: 10px;
	gap: 30px;
	background-color: #edfff2;
	border-radius: 10px;
	align-items: center;
}

.card-car > img {
	width: 300px;
	height: 200px;	
}

.card-car .card-car-detail-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 10px;
}

.card-car .card-car-detail-container > div {
	display: flex;
	justify-content: space-between;
}