.post-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	background-color: #5dd96a;
	padding: 10px;
	border-radius: 10px;
}

.post-info-container {
	display: flex;
	gap: 10px;
	padding: 10px;
	background-color:#e7f4e8;
	border-radius: 10px;
	flex-wrap: wrap;
}

.post-info-container > div {
	display: flex;
	gap: 10px;
}

.post-action-container {
	text-align: right;
	border-radius: 10px;
}
	

.post-content-container {
	padding: 10px;
	background-color:#e7f4e8;
	border-radius: 10px;
}